<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise DevSecOps Platform</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🚀 Enterprise DevSecOps Platform</h1>

    <p class="subtitle">
        CI/CD • Docker • Kubernetes • Security • Monitoring
    </p>

    <div class="status-card">

        <h2>Application Status</h2>

        <table>

            <tr>
                <th>Service</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>Backend</td>
                <td class="healthy">Healthy ✅</td>
            </tr>

            <tr>
                <td>Docker</td>
                <td>Ready</td>
            </tr>

            <tr>
                <td>Jenkins</td>
                <td>Ready</td>
            </tr>

            <tr>
                <td>Kubernetes</td>
                <td>Pending</td>
            </tr>

            <tr>
                <td>SonarQube</td>
                <td>Pending</td>
            </tr>

            <tr>
                <td>Trivy</td>
                <td>Pending</td>
            </tr>

        </table>

    </div>

</div>

</body>
</html>